{% load static %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Todo Application</title>
        <!--<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">  -->
        <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="form-group">
      <h1>To-Do <small>List</small></h1>


      <!-- des choses a ajouter ici -->

    </div>

    <div>
      

    </div>
    <div align="center">

    <form>
    Task Content:<input type="text"  size="50" ><button type="submit">Add task</button>

    </form>
    </div>
    <div align="center">
     <s>préparer le cours Django</s> 
     <hr width="50%"/>
    </div>
    <div align="center">
      Développer la Todo App <br/>
      <p><img src="done.png"/>Done  </p>
      <p><img src="delete.gif"/>Delete</p>
      <hr width="50%"/>
    </div>
 <div align="center">
      push dans mon repositoire <br/>
      <p><img src="done.png"/>Done  </p>
      <p><img src="delete.gif"/>Delete</p>
      <hr width="50%"/>
    </div>
     <div align="center">
      tenter de conquérir  <br/>
      <p><img src="done.png"/>Done  </p>
      <p><img src="delete.gif"/>Delete</p>
      <hr width="50%"/>
    </div>





    <ul class="list-unstyled" id="todo">
      <!-- des choses a ajouter ici -->

    </ul>

</body>
</html>
